@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
:root{

    /* Paleta de colores */
    --principal: #fdc911;
    --seria: #000000;

    /* Tamaños */
    --icosw: 24px;
}

body{
    font-family: 'Quicksand', sans-serif;
}


.contacto-bar{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: solid 1px darkgrey;
    color: var(--seria);
    padding: 32px;
}

.contacto-bar a{
    color: #22314a;
    text-decoration: none;
}


.contacto-bar i{
    color: var(--seria);
    width: var(--icosw);
    height: var(--icosw);
}

.num-tel a {
    margin-right: 24px;
}

.contacto-directo, .redes-sociales{
    margin: 0 10px;
}

.logo img{
    width: 500px;
    box-shadow: 10px 5px 5px gray 50%;
}

.headmain{
    display: flex;
}

.headmain nav{
    display: flex;
}

.headmain nav ul{
    display: flex;
}

.headmain nav ul li{
    margin: 5px;
    list-style: none;
}